/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
	text-decoration-line:none;
	
}
h1{
	text-align:center;
}
.player_one{
	height:100px;
	width:500px;
	border-radius:5px;
	
	background-color:white;
	padding:10px;
	border:1px solid black;
	text-align:left;
}
h2{
	text-align:center;
}
img{
	text-align:center;
	
}
a{
color:black;
}
.player_two{
	border-radius:5px;
	height:400px;
	width:400px;
	background-color:white;
	padding:10px;
	border:1px solid black;
	text-align:left;
}
li{
	list-style-type: none;
}
a{
	text-decoration-line: none;
}